<!--
Carla Lorena Flores Subias A01331363
Isabel García Pérez A01331405

Calculadora dinámica de monedas: Deberás realizar una página donde se pueda convertir de una moneda a otra y mostrar únicamente las monedas seleccionadas de una lista. Los valores de conversión se tomaran de un JSON (propuesto por el estudiante) donde se tendrá como base de la moneda el USD (dollar americano) y la conversión a todas las monedas. La calculadora estará hecha con bootstrap y angular. Y deberá convertir de cualquier moneda a cualquier moneda.
-->
<!Doctype html>
<html ng-app="primerApp">
  <head>
    <meta charset="utf-8">
    <title>Convertidor de Divisas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrap-select.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/angular.js"></script> 
    <script src="scripts/app.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/bootstrap-select.js"></script>
      
  </head>
  <body ng-controller="primerAppController">
    <nav class="navbar">
            <h3>Convertidor de divisas</h3>
    </nav>
      <div class="row jumbotron">
        <div class="col-md-4"></div>
          <div class="col-md-4"><input type="number" id="valor" ng-model="valor" ng-change="calcular(valor,original,mxnRes,usdRes,eurRes,jpyRes,cadRes,gbpRes)">
            <select ng-model="original" ng-init="original='MXN'" class="selectpicker" ng-change="calcular(valor,original,mxnRes,usdRes,eurRes,jpyRes,cadRes,gbpRes)">
              <option data-content="<img src='images/m.png'> MXN" value="MXN"></option>
              <option data-content="<img src='images/us.png'> USD" value="USD"></option>
              <option data-content="<img src='images/eu.png'> EUR" value="EUR"></option>
              <option data-content="<img src='images/j.png'> JPY" value="JPY"></option>
              <option data-content="<img src='images/c.png'> CAD" value="CAD"></option>
              <option data-content="<img src='images/uk.png'> GBP" value="GBP"></option>
            </select></div>
          <div class="col-md-4"></div>
      </div>
      <div class="row" id="menu_checkbox">
          <div class="col-md-4"></div>
          <div class="col-md-4">
             <label class="checkbox-inline"><input type="checkbox" ng-model="mxnRes" ng-click="calcular(valor,original,mxnRes,usdRes,eurRes,jpyRes,cadRes,gbpRes)">MXN</label>
              <label class="checkbox-inline"><input type="checkbox" ng-model="usdRes" ng-click="calcular(valor,original,mxnRes,usdRes,eurRes,jpyRes,cadRes,gbpRes) ">USD</label>
              <label class="checkbox-inline"><input type="checkbox" ng-model="eurRes" ng-click="calcular(valor,original,mxnRes,usdRes,eurRes,jpyRes,cadRes,gbpRes)">EUR</label>
              <label class="checkbox-inline"><input type="checkbox" ng-model="jpyRes" ng-click="calcular(valor,original,mxnRes,usdRes,eurRes,jpyRes,cadRes,gbpRes)">JPY</label>
              <label class="checkbox-inline"><input type="checkbox" ng-model="cadRes" ng-click="calcular(valor,original,mxnRes,usdRes,eurRes,jpyRes,cadRes,gbpRes)">CAD</label>
              <label class="checkbox-inline"><input type="checkbox" ng-model="gbpRes" ng-click="calcular(valor,original,mxnRes,usdRes,eurRes,jpyRes,cadRes,gbpRes)" checked>GBP</label>
          </div>
          <div class="col-md-2"></div>
      </div>
      <br>
      <div  ng-repeat="item in conversiones.resultado">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><div class="col-md-2"><img ng-src={{item.imagen}}></div><div class="col-md-4"><label>{{item.nombre}}</label></div>
                  <div class="col-md-6">{{item.valor}}</div></div>
              <div class="col-md-4"></div>
          </div>
          <hr>
      </div>
    <div class="footer">
      <div class="container">
      </div>
    </div>
          </body>
</html>
